{% extends "layout.html" %}
{% set page = {
    id: 'index',
    title: 'NEW Title'
  }
%}

{% block left %}

{% endblock %}

{% block right %}

{% endblock %}

{% block content %}
<div class="container-1">
  <div class="carousel">

  </div>
  <div class="service-content">
    <div class="title">
      <h3>
        感受身心，活在當下
      </h3>
      <span>
        DOYOGA可以帶給你...
      </span>
    </div>
    <ul class="row justify-content-center">
      <li class="col-4 row align-items-end">
        <div> 
          <h4>整體健身</h4>
          <span>每一個動作，都融入運動解剖學的觀點強調以身體的中心線為出發點</span>
        </div>
      </li>
      <li class="col-4 row align-items-end">
        <div> 
          <h4>減壓放鬆</h4>
          <span>調節全身系統、改善血液循環、減壓養心、釋放身心、達到修心養性的目的</span>
        </div>
      </li>
      <li class="col-4 row align-items-end">
        <div> 
          <h4>局部雕塑</h4>
          <span>幫助強化背部與腹部的核心肌群，增進我們身體穩定度以及保持良好體態。</span>
        </div>
      </li>
    </ul>
  </div>
  <div class="teacher-content row align-items-center">
    <div class="row">
      <div class="col-5 start-img">
      </div>
      <div class="col-6">
        <div class="title">
          <h3 class="title-style">頂尖師資、專業教學</h3>
          <span class="span-style">強力師資，經歷豐富，協會認證。運用引導式教學，針對不同需求的人制定專屬課程。</span>
        </div>
        <ul>
          <li>
            <div class="row teacher-info">
              <div class="user-img col-2">
                <img src="https://hexschool.github.io/webLayoutTraining1st/yoga-week8/teacher-1.png" alt="">              </div>
              <div class="user-info col">
                <div class="sub-title">
                  Carol Tang 老師
                </div>
                <div class="content">
                  教學經歷 10 年
                  瑜珈讓我重新認識自己的身體，也讓我有了不一樣的人生。
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="row teacher-info">
              <div class="user-img col-2">
                <img src="https://hexschool.github.io/webLayoutTraining1st/yoga-week8/teacher-2.png" alt="">
              </div>
              <div class="user-info col">
                <div class="sub-title">
                  Kanae 老師
                </div>
                <div class="content">
                  教學經歷 10 年
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="row teacher-info">
              <div class="user-img col-2">
                <img src="https://hexschool.github.io/webLayoutTraining1st/yoga-week8/teacher-3.png" alt="">              
              </div>
              <div class="user-info col">
                <div class="sub-title">
                  Asa Ifrit 老師
                </div>
                <div class="content">
                  教學經歷 10 年
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="env-content">

  </div>
  <div class="class-content">
    
  </div>
  <div class="solution-content">
    <h3>
      方案選擇
    </h3>
    <span>DOYOGA</span>
    <ul>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
  <div class="feedback-user">
    <ul>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</div>
{% endblock %}


