<footer class="footer">
<div class="row align-items-center">
  <div class="col m-4">
    <p class="h3_footer">現在訂閱，獲得課程優惠碼 !</p>
  </div>
  <div class="col m-4">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="輸入電子郵件" aria-label="Recipient's username" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button">訂閱</button>
      </div>
    </div>
  </div>
</div>
<div class="row align-items-center">
  <div class="col">
    <h4>DOYOGA</h4>
    <ul>
      <li>課程介紹</li>
      <li>瑜伽空間</li>
      <li>當月課表</li>
    </ul>
  </div>
  <div class="col">
    <p>© 2021. All Rights Reserved.</p>
    <!-- <i class="fab fa-facebook"></i> -->
  </div>
  <div class="col">
    <i class="fab fa-facebook"></i>
    <i class="fab fa-facebook"></i>
    <i class="fas fa-vial"></i>
  </div>
</div>
</footer>
