<header class="header">
  <a href="">
    <img class="logo" src="https://hexschool.github.io/webLayoutTraining1st/yoga-week8/DOYOGA-logo.png" alt="">
  </a>
  <ul class="nav-bar">
    {# TODO: URL path resolver #}
    {# 需注意相對路徑 #}
    <li ><a href="./index.html">課程介紹</a></li>
   <!-- <li><a href="p1/index.html">page1</a></li> -->
    <li><a href="./page2.html">瑜伽空間</a></li>
    <li><a href="./page2.html">當月課表</a></li>
  </ul>
  <ul class="nav-btn">
    <li><a href="">立刻預約</a></li>
    <li><a href="">聯絡我們</a></li>
    
  </ul>
</header>
